.transactionItem {
    border-bottom: 1px solid #F5F5F5;
    font-family: 'Open Sans';
}

.heading {
    font-size: 14px;
    font-weight: 500;
}

.date {
    font-size: 13px;
    color: #AAAAAA;
}

.messageIcon {
    background-color: #325BAF;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.message {
    font-size: 12px;
    color: #325BAF;
    font-weight: 500;
}

.transactionItem {
    font-weight: 700;
    font-size: 14px;
}