.navbarMain {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 15;
    bottom:0;
    left:0;
    right:auto;
    top: auto;
    box-shadow: 0 2px 12px #e3e3e3;
    padding: 8px 30px;
    color:black;
    display: flex;
    justify-content: space-between;
}

.active {
    font-weight: 500;
    color: #01D167 !important;
    font-size: 9px;
}

.inactive {
    color: white;
    font-size: 9px;
}